.main {
  min-height: 25rem;
  min-width: 100rem;
  height: 85svh;
  width: 100%;
  background-color: wheat;
}

.footer {
  height: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
