.main {
  min-height: 25rem;
  height: 80svh;
  background-color: wheat;
  position: relative;
  cursor: crosshair;
}

.footer {
  height: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
